<div class="container chatbot">
  <h1>Chat with Merlin</h1>
  <h6>Did you know the term "freelance" was first coined by Sir Walter Scott in his 1819 novel Ivanhoe, where it described a mercenary knight whose "lance" was "free" to be hired by any lord? Want to kow more?</h6>
  <div id="questions">
    <%= render @questions %>
  </div>

<%= render "form", question: @question %>
</div>
