<%= render "shared/lancelot_nav" %>
<div class="container chatbot" data-controller="lance-sound">
  <h1>Chat with Merlin</h1>
  <h6>Did you know the term "freelance" was coined by Sir Walter Scott in his 1819 novel Ivanhoe? It described a knight for hire whose "lance" was "free." Want to hear tales of Lancelot and his fellow knights, or get freelancing tips? Ask King Arthur's advisor Merlin—he has all the answers!</h6>
  <div id="questions">
    <%= render @questions %>
  </div>

<%= render "form", question: @question %>
</div>
