  <!--
  <div class="stop-button">
  -->
  <div class="stopwatch-container">
      <%= link_to 'Halt!',
        stop_timesheet_timestamp_path(timesheet, timestamp),
        data: {turbo_method: :post},
        class: 'stopwatch stopwatch-motion' %>
  </div>
