<div data-controller='stopwatch'>
  <div data-stopwatch-target='stopwatchButton'>
    <%= simple_form_for [@client, @project, @timesheet, @timestamp] do |f| %>
      <%= f.submit 'Start', data: {action: 'click->stopwatch#changeText'} %>
    <% end %>
  </div>
</div>
