<div class="container">
  <div class="stopwatch-container">
    <%= simple_form_for [@timesheet, @timestamp] do |f| %>
      <%= f.submit 'Start', class: 'stopwatch' %>
      <%= f.association :timesheet %>
    <% end %>
  </div>
</div>
