<div class="container">
  <p><em>Start work on <%= @timesheet.project.name %>!</em></p>
  <%= render "timestamps/start_button", timesheet: @timesheet, timestamp: @timestamp %>
  <%= link_to 'View timesheet', client_project_timesheet_path(@timesheet.project.client, @timesheet.project, @timesheet) %>

</div>
