<div class="container">
  <h1>Timesheets</h1>

    <!--Do we even want this?-->
  <div data-controller="show-form">
    <div data-action="click->show-form#reveal" class="btn btn-outline-dark">
      New timesheet
    </div>
    <div data-show-form-target="form" class="d-none">
      <%= simple_form_for @timesheet do |f| %>
        <!--Maybe come back to showing client name along with project-->
        <%= f.association :project %>
        <%= f.submit 'Create' %>
      <% end %>
    </div>
  </div>

  <ul>
  <% @timesheets.each do |timesheet| %>
    <!--Need to include all levels of nesting-->
    <li><%= link_to timesheet.title,
        client_project_timesheet_path(timesheet.project.client, timesheet.project, timesheet) %>
    </li>
  <% end %>
  </ul>


</div>
