.blue-button {
  background: white;
  border: 2px solid $primary;
  color: $primary;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;

  &:hover {
    background: $primary;
    color: white;
  }
}

.btn-lance {
  background-image: asset-url("lancelot.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #7D0101;
  border-radius: 50%;
}
