.red-button {
  background-color: #7D0101;
  color: #FFFFFF;
  border-color: #7D0101;
  border-radius: 8px;
}
.blue-button {
  background-color: $primary;
  color: #FFFFFF;
  border-color: $primary;
  border-radius: 8px;
}
