.timesheet {

  // .btn-medieval {
  //   a {
  //     color: $red;
  //   }
  // }

  a {
    color: $primary;
    display: inline-block;
    &:hover {
      animation: pop-up 0.5s ease-in-out;
    }
  }

  table {
    background: none !important;
    background-color: transparent !important;
  }

  tr, td, th {
    background: none !important;
    background-color: transparent !important;
  }


  color: $primary;
  background: white;
  border: 2px solid #7D0101;
  border-radius: 16px;
  padding: 1.5rem;

  .edit-txt {
    color: $gold;
    &:hover {
      cursor: pointer;
    }
  }

  tbody {

    tr {
      position: relative;
    }

  }


  .x-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $red !important;
    text-decoration: none;
  }
}


.timesheet-index {
  background: none !important;
  background-color: transparent !important;
  color: $primary;
  background: white;
  border: 2px solid #7D0101;
  border-radius: 16px;
  padding: 1.5rem;
  a {
    color: $primary;
    text-decoration: none;
    display: inline-block;
    &:hover {
      animation: pop-up 0.5s ease-in-out;
    }
  }
}
.project-timesheet-index {
  background: none !important;
  background-color: transparent !important;
  // background-color: white !important;
  color: $primary;
  background: white;
  border: 2px solid $primary;
  border-radius: 16px;
  padding: 1.5rem;
  a {
    color: $primary;
    text-decoration: none;
    display: inline-block;
    &:hover {
      animation: pop-up 0.5s ease-in-out;
    }
  }
}
