.timesheet {

  .edit-txt {
    color: $gold;
    &:hover {
      cursor: pointer;
    }
  }

  // .gold-button {
  //   background-color: $gold;
  //   color: $primary;
  //   border-color: $gold;
  //   border-radius: 8px;
  // }

  a {
    color: $red;
    // &:hover {
    //   text-shadow: 1px 1px 2px rgba(27, 27, 58, 0.5);
    // }
  }

  tbody {

    tr {
      position: relative;
    }

  }


  .x-button {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
