@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// Bootstrap and other framework imports
@import "bootstrap";

// Components
@import "components/global";
@import "pages/authentication";
@import "pages/dashboard";
@import "components/navbar";
@import "components/alert";
@import "components/form_legend_clear";
@import "components/stopwatch";
@import "components/timesheet";
@import "components/invoice";
@import "components/chatbot";
@import "components/avatar";
@import "components/index";

// Pages
@import "pages/home";
@import "pages/index";


@import "clients";
@import "projects";


// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
